<div class="carousel-section">
<!-- Start of Judge.me code --> <div class='jdgm-carousel-wrapper' data-auto-install='false' > {% assign jm_metafields = shop.metafields.judgeme %} <div class='jdgm-carousel-title-and-link'> <h2 class='jdgm-carousel-title'>Let customers speak for us</h2> <span class='jdgm-all-reviews-rating-wrapper' href='javascript:void(0)'> <span style='display:block' data-score='{{ jm_metafields.all_reviews_rating }}' class='jdgm-all-reviews-rating' aria-label='{{ jm_metafields.all_reviews_rating }} stars' tabindex='0' role='img'></span> <span style='display: block' class='jdgm-carousel-number-of-reviews' data-number-of-reviews='{{ jm_metafields.all_reviews_count }}'> from {{ shop.metafields.judgeme.all_reviews_count }} reviews </span> </span> </div> {{ jm_metafields.featured_carousel }} </div> <!-- End of Judge.me code -->
</div>
{% schema %}
  {
    "name": "Reivew Carousel",
    "settings": [],
    "presets": [
      {
        "name": "Review Carousel"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}